// @file 封装自定义混入代码块

.DF_JCC_AIC{ // 弹性盒--横竖居中
  display: flex;
  justify-content: center;
  align-items: center;
}
.DF_AIC{
  display: flex;
  align-items: center;
}
.DF_JCSB_AIC{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.DF_FDC_JCSB_AIC{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.DF_FDC{
  display: flex;
  flex-direction: column;
}
.DF_FDC_AIC{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DF_FDC_JCC_AIC{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DF_FDC_JCFE_AIC{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/*单行省略*/
.Oneway_Ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;    
}
/*多行省略*/
.Multipleline_Omission{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient:vertical;
   flex-direction: column;
}